body {
            font-family: "Arian AMU", "Arial", sans-serif;
        }

        #container {
            position: relative;
            width: 720px;
            margin: 0 auto;
        }

        #playarea {
            background: url("../images/cookingtable.jpg") center top no-repeat;
            margin: 0 auto;
            padding-top: 100px;
            width: 700px;
            height: 500px;
        }

        #myBox {
            width: 100px;
            height: 100px;
            background: red;
            display: none;
            position: relative;
            background: url("../images/cocroach.png") center top no-repeat;
            border: none;
            border-radius: 50px;
            cursor: url('../images/murch.gif'), auto;
        }

        .bold {
            font-weight: bold;
        }

        #time {
            color: red;
        }
