body {
            font-family: sans-serif;
        }

        #container {
            position: relative;
            width: 720px;
            margin: 0 auto;
        }

        #playarea {
            background: url("../images/cookingtable.jpg") center top no-repeat;
            margin: 0 auto;
            padding-top: 100px;
            width: 700px;
            height: 400px;
        }

        #myBox {
            width: 100px;
            height: 100px;
            background: red;
            display: none;
            position: relative;
            background: url("../images/cocroach.png") center top no-repeat;
            border: none;
            border-radius: 50px;
            cursor: url('../images/murch.gif'), auto;
        }
        
        #medals {
            width: 700px;
            height: 20px;
            margin: 5px auto;
            padding: 10px 0;
            font-size: 18px;
            font-weight: bold;
            background: #ccbbaa;

            text-align: center;
            vertical-align: center;
        }


        .bold {
            font-weight: bold;
        }

        #time {
            color: red;
        }
